# Use standard mongodb:// URI from Atlas (Connect > Drivers > "Standard connection string")
# mongodb+srv:// fails on some Windows networks with querySrv ECONNREFUSED
MONGODB_URI=mongodb://<username>:<password>@ac-bpzg8rn-shard-00-00.w4h5xms.mongodb.net:27017,ac-bpzg8rn-shard-00-01.w4h5xms.mongodb.net:27017,ac-bpzg8rn-shard-00-02.w4h5xms.mongodb.net:27017/?ssl=true&authSource=admin&replicaSet=atlas-je4iqa-shard-0&retryWrites=true&w=majority&appName=Cluster0
MONGODB_DB=registration_data
MONGODB_COLLECTION=form
